.typing-animation {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .typing-text {
    font-family: 'Arial', sans-serif;
    font-size: 46px;
    font-weight: bold;
    color: #333;
    text-align: center;
    animation: typing 2s steps(40, end), blink-caret 0.75s step-end infinite;
  }
  

  .typing-text span.emoji:hover {
    transform-origin: center;
    animation: wave 0.5s infinite;
  }
  
  .typing-text span.job-title {
    color: #0074d9;
  }
  

  .typing-animation {
    font-size: 24px;
    color: #333;
    position: relative;
  }
  
  .typing-text {
    display: inline-block;
  }
